body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  --mdc-theme-primary: #3367d6;
  --mdc-theme-secondary: white;
  color: #333;
}

.page-split {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.input-pane {
  flex: 0 0 38%;
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.2);
  background: white;
  display: flex;
  flex-direction: column; 
  
  .names-question {
    padding: 1.5rem;
    padding: 1.5rem;
    background: #3367d6;
    color: white;
    display: flex;
    align-items: center;
    flex: 0 0;
    
    span {
      padding: 0 0.5rem;
      font-size: 90%;
      white-space: nowrap;
    }
    input[type=text] {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 2px;
      height: 44px;
      overflow: hidden;
      padding: 2px 12px 0 12px;
      font-family: inherit;
      font-size: 100%;
      color: inherit;
      border: none;
      border-bottom: 2px solid transparent;
      width: 100%;
      transition: all 120ms ease;

      &:focus {
        background-color: rgba(255, 255, 255, 0.25);
        border-bottom: 2px white solid;
      }
    }
    label {
      font-size: 90%;
      white-space: nowrap;
      margin-left: 0.5rem;
    }
  }

  .data-importer {
    padding: 1.5rem;
    border-bottom: 1px solid lightgray;   
    display: flex;
    flex-direction: column;
    flex: 1 0;

    .question-statement {
      margin-bottom: 1rem;
      flex: 0 0;
    }
    .table-wrapper {
      font-size: 80%;
      flex: 1 1;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
      
      .ht_master .wtHolder {
        background: whitesmoke;
        box-shadow: 1px 0px 0px 0 rgba(0, 0, 0, 0.15) inset, -1px 0px 0px 0 rgba(0, 0, 0, 0.15) inset
      }

      th {
        vertical-align: middle;
      }
    }
    .rowformat-selector {
      font-size: 90%;
      margin-top: 0.3rem;
      flex: 0 0;
      .clear-button {
        float: right;
        color: #333;
      }
    }
  }

  .bottom-buttons {
    text-align: right;
    padding: 1.5rem;
    flex: 0 0;
  }
}

.graph-pane {
  flex: 0 0 62%;
  .graph {
    width: 100%;
    height: 100%;
    .graph-container {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

button.mdc-button {
  letter-spacing: 0 !important; 
  margin-left: 1rem;
}

select {
  line-height: 28px;
  display: inline-block;
  position: relative;
  font-family: Roboto;
  background-color: transparent;
  border-width: 0 0 2px 0;
  border-color: #E5E5E5;
  border-style: solid;
  margin-top: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23666'><polygon points='0,30 70,30 35,65'/></svg>") right/0.8rem no-repeat #fff;
  padding: 3px 1.1rem 2px 0rem;

  &:focus {
    outline: none;
  }

  option {
    line-height: 2rem;
    background: #F5F5F5;
    color: #343434;
  }
  option:checked, option:hover {
    box-shadow: 0 0 10px 100px #eee inset;
  }
  option:disabled {
    color: gray;
    background: lightgray;
    font-style: italic;
  }
  option[disabled].select-header {
    color: gray;
    background: lightgray;
    font-style: italic;
  }
}

select::-ms-expand { 
  display: none; /* remove default arrow in IE 10 and 11 */
}
