html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  background: white;
  --mdc-theme-primary: #444c6c;
  --mdc-theme-secondary: white;
  color: #333;
  margin: 5rem 0;
}

.page-content {
  display: flex;
  width: 90vw;
  max-height: 100vh;
  max-width: 1280px;
  overflow: hidden;
  flex-direction: column;
  margin: 0 auto 3rem auto;
  border-radius: 3px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 -1px 4px -1px rgba(0, 0, 0, 0.07), 0 8vh 8vh -2vh rgba(0, 0, 0, 0.25)
}

.input-pane {
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 3;
  border-radius: 3px;
  position: relative;
  max-height: 70vh;

  .names-question {
    padding: 1.5rem;
    padding-left: 31%;
    background: var(--mdc-theme-primary);
    color: white;
    display: flex;
    align-items: center;
    
    span {
      padding: 0 0.5rem;
      font-size: 90%;
      white-space: nowrap;
    }
    input[type=text] {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 2px;
      height: 44px;
      overflow: hidden;
      padding: 2px 12px 0 12px;
      font-family: inherit;
      font-size: 100%;
      color: inherit;
      border: none;
      border-bottom: 2px solid transparent;
      width: 20%;
      transition: all 120ms ease;

      &:focus {
        background-color: rgba(255, 255, 255, 0.25);
        border-bottom: 2px white solid;
      }
    }
    label {
      font-size: 90%;
      white-space: nowrap;
      margin-left: 0.5rem;
    }
  }
  .data-importers {
    display: flex;
    position: relative;

    .data-importer {
        padding: 1.5rem;
        border-bottom: 1px solid lightgray;   
        display: flex;
        flex-direction: column;
        flex: 1 0;
        max-height: 100%;
        position: relative;
        th {
          cursor: default;
        }
        .ignored-row {
          font-weight: bold;
          color: #cd5200;
          background: #ffc198;
          width: 50px;
          padding: 0px 6px;
          border-radius: 100%;
        }

        .question-statement {
        margin-bottom: 1rem;
        flex: 0 0;
        }
        .rowformat-selector {
        font-size: 90%;
        margin-top: 0.3rem;
        flex: 0 0;
        .clear-button {
            float: right;
            color: #333;
        }
        }
    }
  }

  .bottom-buttons {
    text-align: right;
    padding: 1.5rem;
  }
}


.table-wrapper {
  font-size: 80%;
  flex: 0 0;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);

  .ht_master .wtHolder {
    background: whitesmoke;
    box-shadow: 1px 0px 0px 0 rgba(0, 0, 0, 0.15) inset, -1px 0px 0px 0 rgba(0, 0, 0, 0.15) inset
  }

  th {
    vertical-align: middle;
  }
}

.graph-pane {
  z-index: 3;
  background: white;

  .result {
    min-height: 40vh;
    color: #333;
    display: flex;
    padding: 1.5rem;
    border-radius: 3px;

    .result-table {
      flex: 0 0 50%;
      color: #333;
    }
    .result-details {
      padding: 0 0 0 1.5rem;
      flex: 1 1 50%;
    }
  }
}

button.mdc-button {
  letter-spacing: 0 !important; 
  margin-left: 1rem;
}

select {
  line-height: 28px;
  display: inline-block;
  position: relative;
  font-family: Roboto;
  background-color: transparent;
  border-width: 0 0 2px 0;
  border-color: #E5E5E5;
  border-style: solid;
  margin-top: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23666'><polygon points='0,30 70,30 35,65'/></svg>") right/0.8rem no-repeat #fff;
  padding: 3px 1.1rem 2px 0rem;

  &:focus {
    outline: none;
  }

  option {
    line-height: 2rem;
    background: #F5F5F5;
    color: #343434;
  }
  option:checked, option:hover {
    box-shadow: 0 0 10px 100px #eee inset;
  }
  option:disabled {
    color: gray;
    background: lightgray;
    font-style: italic;
  }
  option[disabled].select-header {
    color: gray;
    background: lightgray;
    font-style: italic;
  }
}

select::-ms-expand { 
  display: none; /* remove default arrow in IE 10 and 11 */
}

.counts {
  display: flex;
  .pairings {
    font-size: 2.5rem;
    font-weight: 300;
    flex: 1 1;
  }

  .label {
    font-size: 0.87rem;
    font-weight: 500;
    margin-left: 0.3rem;
    opacity: 0.5;
  }
  .matched-counts {
    flex: 2 1;
    .selectors-matched {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }
  .top-label {
    opacity: 0.6;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
  }
}
